h2 {
    color: green;
  }

.message  {
    color: grey;
    padding-top: 5px;
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background: lightgrey
}